body{
	margin:0px;
	background:#e7dff1;
}

header{
	
	margin:0px;
    padding:0px;
}

h2{
	background-color:#8b54d1;
	width: 200px;
	text-align: center;
	color: white;
	float:left;
	padding:9px;
	font-size:30px;
}

nav{
	background: #e7dff1;
	text-align: right;
	color: black;
	float:right;
}

nav ul{
	list-style-type: none;
	margin: 15px;
	padding: 0px;
	float: right;
}

li{
	float: left;
}

li a {
  display: block;
  color: black;
  padding: 6px 10px;
  background-color: #e7dff1;
  text-decoration: none;
}


li a:hover:not(.active) {
  background-color: #8b54d1;
  color: white;
}


article img{
	float:left;
	height:426px;
	width:400px;
	padding-top:16.5px;
}	
	


section{
	border:100px solid #e7dff1;
    padding:0px;
	margin-left:10%;
	margin-right:10%;
    
}

article p{
	padding:40px;
	float: right;
	height: 345px;
	width: 310px;
	color:black;
	background:url(bg.jpg);
    background-size:cover;
	opacity:0.9;
}


	